.spaced {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


/* Collapsible */

.collapsible {
    background-color: white;
    color: black;
    cursor: pointer;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    margin-top: 22px;
    padding: 0;
    font-size: 28px;
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: .05em;
}

.active,
.collapsible:hover {
    background-color: rgb(156, 156, 156);
}

.collapsible:after {
    content: '\002B';
    color: black;
    font-weight: bold;
    font-size: 30px;
    float: right;
    margin-left: 5px;
    float: right;
    vertical-align: baseline;
}

.active:after {
    content: "\2212";
}

.service_info {
    padding: 0 18px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    background-color: #f1f1f1;
}


/* Drawing field */

.canvas {
    margin-left: auto;
    margin-right: auto;
    display: inline;
}

#drawing-field {
    height: 400px;
    width: 600px;
    border: 2px solid;
    box-shadow: 5px 10px #888888;
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-image: url("images/house.png");
    background-color: rgb(255, 255, 255);
    background-repeat: no-repeat;
    background-position: center;
}

#canvas-container {
    width: 100%;
    text-align: center;
}

#render-canvas {
    border: 2px solid;
}

#record-div {
    margin-top: 20px;
}

#live {
    background-color: red;
}

.delete-event-button{
    background-color: red;
}